.testimonials-container {
  margin-top: 70px;
  background-color: white;
  padding: 40px;
  text-align: center;
}

.testimonials-container h2 {
  font-size: 28px;
  color: #693193;
  margin-bottom: 10px;
}

.testimonials-container h1 {
  font-size: 55px;
  color: #151516;
  font-weight: 800;
  max-width: 50%;
  margin-left: 31.5rem;
  margin-bottom: 30px;
}

.reviews-button {
  background-color: #693193;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 40px;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
}

.reviews-button:hover {
  background-color: #5a2a7a;
}

.testimonial-cards {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  margin-bottom: 40px;
  height: 45vh;
}

.testimonial-card {
  background-color: #f9f9f9;
  padding: 30px;
  border-radius: 10px;
  width: 30%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
  text-align: left;
}

.quote-icon {
  position: absolute;
  top: 20px;
  left: 40px;
  font-size: 48px;
  color: #693193;
  font-family: serif;
  line-height: 1;
}

.testimonial-card h3 {
  font-size: 20px;
  color: #693193;
  margin-bottom: 15px;
  margin-top: 60px; 
}

.testimonial-card p {
  font-size: 16px;
  color: #666;
  line-height: 1.6;
  max-width: 100%; 
  margin-bottom: 30px; 
}

.review-author {
  display: block;
  font-size: 14px;
  color: #333;
  margin-top: 20px; 
  font-style: italic;
  text-align: right; 
}

.consultation-button {
  background-color: #d51c5b;
  color: white;
  border: none;
  padding: 15px 30px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
}

.consultation-button:hover {
  background-color: #b81a50;
}
